<!DOCTYPE html>
<html lang="en">
  <head>
    <title>task app</title>
  </head>
  <body>
    <h1>list</h1>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="title" placeholder="new work" />
      <button type="submit">add</button>
    </form>
    <ul>
      {% for task in tasks %}
      <li>
        {{ task.title }} {% if task.completed %}
        <span>completed</span>
        {% else %}
        <span>not completed</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
